var gConfig = {
  "serverURL":"{{ pepyatka_frontend_scheme }}://{{ pepyatka_hostname }}/v1/"
, "front":"{{ pepyatka_frontend_scheme }}://m.{{ pepyatka_hostname }}/"
, "static":"{{ pepyatka_frontend_scheme }}://m.{{ pepyatka_hostname }}/static/"
, "offset":"25"
}